#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

build:
	mkdir -p build/bin
	wget https://raw.githubusercontent.com/composer/getcomposer.org/76a7060ccb93902cd7576b67264ad91c8a2700e2/web/installer -O - -q | php -- --quiet --install-dir=build/bin --filename=composer
	build/bin/composer update
	chmod +x build.sh
	PATH=build/bin:$$PATH ./build.sh

override_dh_usrlocal:

%:
	dh $@
